.vl {
  border-left: 1px solid black;
  height: 200px;
}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.blog-font {
  font-family: 'Quicksand', sans-serif;
}

.tags:hover {
  background-color: #dadada;
  cursor: pointer;
}
