.nav-link-hover {
  color: black;
}

.nav-link-hover:hover {
  color:white;
  background-color: black;
}

.on-hover {
color: grey;
border-bottom: 1px solid grey;
}

.on-hover:hover{
  color:black;
  border-bottom: 1px solid black;
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

/* .box:hover {
  background-color: black;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
} */
.box {
 /* padding: 17px 40px; */
 border-radius: 50px;
 border: 0;
 background-color: white;
 box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
 /* letter-spacing: 1.5px; */
 /* text-transform: uppercase; */
 font-size: 15px;
 transition: all 1s ease;
}

.box:hover {
 /* letter-spacing: 3px; */
 /* background-color: hsl(261deg 80% 48%); */
 background-color: black;
 color: hsl(0, 0%, 100%);
 box-shadow: black 0px 7px 29px 0px;
}

.box:active {
 /* letter-spacing: 3px; */
 background-color: hsl(261deg 80% 48%);
 color: hsl(0, 0%, 100%);
 box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
 transform: translateY(10px);
 transition: 100ms;
}
