.hover-dark-color:hover {
    color:black;
}

.hover-dark-color{
  color: grey;
}

@media only screen and (max-height: 850px) {
/* CSS rules */
.screen-height {
  height: 100%;
}
}
@media only screen and (min-height: 851px) and (max-height: 2000px) {
/* CSS rules */
.screen-height{
  height: 100vh;
}
}
